body {
    background-color: #b8e9ce;
    font-family: 'Comic Sans MS';
    font-size: 14pt;
    color: #000088;
    font-weight: 600;
    margin-left: 30px;
}

input {
	width: 150px;
	font-size: 24px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
	text-align: center;
}

button {
	width: 320px;
	font-size: 28px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}